@font-face {
    font-family: 'Walsheim';
    src: url('./fonts/Walsheim-Regular.otf') format('opentype');
    src: local('./fonts/Walsheim-Regular'), local('Walsheim-Regular'),
        url('./fonts/Walsheim-Regular.woff') format('woff'),
        url('./fonts/Walsheim-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Walsheim';
    src: url('./fonts/Walsheim-Bold.otf') format('opentype');
    src: local('./fonts/Walsheim-Bold'), local('Walsheim-Bold'),
        url('./fonts/Walsheim-Bold.woff') format('woff'),
        url('./fonts/Walsheim-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Walsheim';
    src: url('./fonts/Walsheim-Black.otf') format('opentype');
    src: local('./fonts/Walsheim-Black'), local('Walsheim-Black'),
        url('./fonts/Walsheim-Black.woff') format('woff'),
        url('./fonts/Walsheim-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
