$font-family = 'Walsheim', sans-serif

/* Responsive Breakpoints */
$breakpoint-xs = 600px
$breakpoint-sm = 600px
$breakpoint-md = 1280px
$breakpoint-l = 1920px

$width-max = 1600px

$footer-height = 16.2rem

$font-regular = 400
$font-bold = 700
$font-black = 900

// Palette
$color-white = #ffffff
$color-black = #000000

$color-primary = #00B956
$color-accent = #731F81
